go 1.20

use (
	./
	./equality
	./errors
	./expr
	./fun
	./lexer
	./source
	./stringable
	./token
	./types
	./util
	./parser
	./status
	./nameable
	./ir
	./bridge
	./table
	./symbol
	./inf
	//./syntax
)
